 :where(.css-dev-only-do-not-override-nnuwmp).ant-modal .ant-modal-content{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}