@import "../../../assets/scss/variables.scss";

.landing-main-header-light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
    z-index: 3;
    position: absolute;
    top: 0;

    @media screen and (max-width:991px) {
        padding: 15px 0;
    }

    .hader-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-left {
        display: flex;
        align-items: center;

        .icon {
            width: 90px;

            @media screen and (max-width:576px) {
                width: 85px;
            }
        }

        img {
            max-width: 100px;
        }
    }

    .center-menu {
        width: 100%;
        text-align: center;

        @media screen and (max-width:991px) {
            max-width: 50px;
            margin-left: auto;
            margin-right: 15px;
        }

        .ant-menu {
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            border: 0;
            background: none;

            .ant-menu-item {
                color: $primary-color;
                font-size: 16px;
                padding: 0 15px;

                a {
                    position: relative;

                    &::after {
                        height: 1px;
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: -8px;
                        background: $secondary-color;
                        content: ' ';
                        opacity: 0;
                    }

                    &.active {
                        color: $primary-color;
                        font-weight: 500;

                        &::after {
                            opacity: 1;
                        }
                    }
                }

                &::after {
                    width: 30px;
                    border-width: 1px;
                    display: none;
                }

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    .hedaer-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 500;

        @media screen and (max-width:576px) {
            font-size: 13px;
        }

        .logout {
            display: flex;
            align-items: center;
            margin-left: 18px;
            color: $text-primary;
            outline: none;

            .icons {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                background: $primary-color;
                padding: 8px;
                margin-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                }
            }
        }

        .login-btn {
            border: 0 !important;
            border-radius: 0;
            height: 30px;
            line-height: 30px;
            border-radius: 0;
            padding: 0 8px;
            display: flex;
            align-items: center;
            font-size: 0.875rem;
            box-shadow: none !important;
            outline: none;
            background: none !important;
            color: $primary-color !important;

            .icon {
                margin-left: 6px;
                width: 30px;
                fill: $primary-color !important;
                border-radius: 30px;
                padding: 9px;
                background: $body-background-light;
            }

            &:hover,
            &:focus {
                background: $primary-color;
                border-color: $primary-color;
            }
        }

        .download-link {
            display: flex;
            align-items: center;
            font-weight: normal;
            height: 30px;
            line-height: 30px;
            background: none;
            padding: 0 10px;
            margin-right: 0.8rem;
            box-shadow: none !important;
            outline: none;
            font-size: 14px;
            color: $primary-color;
            border-radius: 4px;
            white-space: nowrap;
            cursor: pointer;

            @media screen and (max-width:991px) {
                display: none;
            }

            .icon {
                height: 19px;
                margin-right: 4px;
                margin-top: -1px;
                fill: $primary-color
            }

            img {
                width: 45px;
            }

            &:hover,
            &:focus {
                color: $white;
                background: $primary-color;
                border-color: $primary-color;

                .icon {
                    fill: $white;
                }
            }
        }

        .user-right-btn {
            border: 1px solid $border-primary;
            border-radius: 4px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            font-size: 0.875rem;

            .user-rightbtn-img {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 3px;

                img {
                    width: 100%;
                }
            }

            &:hover,
            &:focus {
                color: $white;
                background: $primary-color;
            }
        }
    }
}